body{
    background-image: url('main page.jpg');
    background-repeat: repeat;
    background-size: 100%;
}

div.transbox {
  margin: 50px;
  background-color: #fbf9fe;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-weight: bold;
  width: 500px;
}

div.transbox form{
    margin: 5%;
    font-weight: bold;
}

#nav-heading, #main-footer{
    position: fixed;
    background-color: #abd0c7;
    width: 100%;
    left: 0;
    z-index: 999;
}

#nav-heading{
    top: 0;
    border-bottom: 1px solid #ccccb9;
}

#nav-footer{
    position: relative;
    bottom: -10px;
    left: 1000px;
}

#main-heading{
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 30px;
}

h3{
    color: #2b3695;
}

p{
    font-size: 24px;
    color: #e81837;
}

#main-footer{
    height: 40px;
    bottom: 0;
    border-top: 1px solid #ccccb9;
}

input {
    background-color: #f3dec5;
}

form{
    border: 3px solid #6f0431;
    display: inline-block;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 1450px;
}

label{
    display: block;
    line-height: 50px;
    font-size: 130%;
    color: #064f52;
}

input[type="text"], [type="number"], [type="email"]{
    width: 200px;
    border-color: #6d0e4f;
}

div > fieldset{
    display: inline;

}

button{
    padding: 3px 8px;
    text-align: center;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 12px;
}

button[type="submit"]{
    background-color: #37ab09;
}

button[type="submit"]:hover{
    background-color: #90f767;
}

button[type="reset"]{
    background-color: #de2139;
}

button[type="reset"]:hover{
    background-color: #e54d61;
}

button[type="back"]{
    background-color: #b52ead;
}

button[type="back"]:hover{
    background-color: #e8a5e4;
}

button[type="next"]{
    background-color: #4d3fb9;
}

button[type="next"]:hover{
    background-color: #a8a1df;
}

ul{
    list-style-image: none;
}

li{
    display: inline;
    padding: 10px;
}

.box li{
    padding: 0;
}

.box{
    float:right;
     width: 300px;
     height: 350px;
     border: 2px solid #000;
     position: absolute;
     top: 250px;
     left: 850px;
     background-color: #fff;
     padding: 0 5px;
}
